.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(#2a00b7, #42006c);
}

.wrapper {
  width: 340px;
  height: 540px;
  padding: 10px;
  border-radius: 10px;
  background: white;
}

.screen {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #eaeaea;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  color: #797979;
  font-weight: bold;
  box-sizing: border-box;
}

.screen h2 {
  font-size: 20px;
}

.screen .medium {
  font-size: 60px;
}

.screen .large {
  font-size: 70px;
}

.buttonBox {
  width: 100%;
  height: calc(100% - 110px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
}

button {
  border: none;
  background-color: #42006c;
  font-size: 24px;
  color: #eaeaea;
  font-weight: bold;
  cursor: pointer;
  border-radius: 10px;
  outline: none;
}

button:hover {
  background-color: #4c00b4;
}

.equals {
  grid-column: 3 / 5;
  background-color: #4c00b4;
}

.equals:hover {
  background-color: #3a0075;
}
